.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fafafa;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container2 {
  box-sizing: border-box;
  padding: 2%;
  width: 100%;
  background-color: #fafafa;
  width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

.form {
  /* width: 60%;
  margin-left: 20%; */
  box-sizing: border-box;
}

.form-group {

  /* padding: 3%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 5px;
  box-sizing: border-box;
}

.table-responsive-xl {
  /* overflow-x: hidden !important; */
  /* background-color: rgb(219, 238, 255); */

}
thead{
  background-color: #fcb00d65 !important;
}
.label {
  /* text-align: center; */
  width: 100%;
  margin-bottom: 2%;
  font-size: 1.1em;
  font-weight: 500;
}

.form-control {
  width: 30% !important;
  box-sizing: border-box;

}

.btn-submit,
.btn-download {
  margin-top: 2%;
  background-color: #fcb00d !important;
  font-weight: 500;
  color: #000 !important;
  border-color: #fcb00d !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 15%;


}

.btn-download {
  background-color: rgba(0, 176, 117, .76) !important;
  border-color: rgba(0, 176, 117, .76) !important;
  color: #fff !important;

}

.btn-download span,
.btn-submit span {
  margin-right: 5% !important;
}

.btn-submit:hover {
  background-color: transparent !important;
  color: #fcb00d !important;
}

.btn-download {
  margin-bottom: 2%;
}

.btn-download:hover {
  background-color: transparent !important;
  color: rgba(0, 176, 117, .76) !important;
}

.table-responsive-xl input {
  border: none;
  width: 100%;
  outline: none;

  background-color: transparent;
}

.table-responsive-xl input:focus {

  background-color: field;
}